{{- $headerColor := "blue+b" -}}
{{- tablerow
    ("NAME" | autocolor $headerColor)
    ("DESCRIPTION" | autocolor $headerColor)
    ("STARS" | autocolor $headerColor)
    ("LANGUAGE" | autocolor $headerColor)
    ("VISIBILITY" | autocolor $headerColor)
    ("UPDATED" | autocolor $headerColor)
-}}

{{- range . -}}
    {{- $desc := "" -}}
    {{- if ne .description nil -}}
        {{- $desc = .description -}}
    {{- end -}}

    {{- $lang := "" -}}
    {{- if ne .primaryLanguage nil -}}
        {{- $lang = .primaryLanguage.name -}}
    {{- end -}}

    {{- $repoColor := "green" -}}
    {{- if .isArchived -}}
        {{- $repoColor = "red" -}}
    {{- else if eq .visibility "PRIVATE" -}}
        {{- $repoColor = "yellow" -}}
    {{- end -}}

    {{- tablerow
        (.nameWithOwner | autocolor $repoColor)
        (truncate 50 ($desc | autocolor "white+d"))
        (printf "%7.0f" .stargazerCount | autocolor "white+h")
        (printf "%-12s" $lang | autocolor "cyan")
        (printf "%-10s" .visibility | autocolor "white+d")
        ((timeago .pushedAt) | autocolor "white+d")
    -}}
{{- end -}}
